<%- include('partials/header') %>

<div class="welcome">
    <p id="welcome-mesaj"> </p> <br>
    <p id="welcome-mesaj2"> </p>

    <input type="text" class="welcome-input1" id="welcome-input">
    <p id="welcome-warning" style="display: none;">Numele nu este valid!</p>

    <input type="text" class="datanasterii" id="datanasterii" style="margin-top: 15px;">
    <p id="datanasterii-warning" style="display: none;">Introduceti data ZZ#LL#AAAA!</p>
</div>



<%- include('partials/footer') %>